<button onclick="fuckFunction()"> Click me </button>

<center>
	<table border=2 width=50% >
		<tr><td>Date</td><td>Hostname</td><td>Ip</td><td>Type</td><td>Source</td><td>Score</td></tr>
		<% @records.sort_by(&:get_score).reverse.each do |record|%>
			<tr> <td> <%= record.date %> </td> <td> <%= record.hostname%> </td> <td> <%= record.ip %> </td> <td> <%= record.type %> </td>  <td> <%= record.source_html %> </td> <td> <%= record.get_score %> </td> </tr>
		<% end %>
	</table>
</center>